body * {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	display: block;
	margin: auto;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

h2 {
	margin: 0;
}

.entete_resp {
	display: none;
}

nav {
	display: flex;
	justify-content: space-between;
}

.navlink {
	padding: 20px;
	font-size: 1.2em;
	text-align: center;
}

.navfont {
	color: #0065FC;
	font-weight: bold;
}

.nav_resp {
	display: none;
}

.acc:hover {
	margin: auto;
	border-top: 5px solid #0065FC;
	color: #0065FC;
}

input {
	padding: 5px;
	border: 1px solid #F2F2F2;
	width: 50%;
}

input::placeholder {
	font-size: 1.2em;
	font-weight: bold;
}

.search-bar {
	display: inline-flex;
	width: 25%;
}

.fa-map {
	background-color: #F2F2F2;
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.btn {
	background-color: #0065FC;
	color: white;
	padding: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 30%;
	font-size: 1em;
	border: none;
}

.btn_resp {
	display: none;
	border-radius: 10px;
	padding: 5px;
	border: none;
	background-color: #0065FC;
	color: white;
	width: 10%;
}

.grey {
	color: #F2F2F2 !important;
}

.box_shadow {
	box-shadow: 8px 8px 12px #aaa;
}

.bold {
	font-weight: bold;
}

.margin_top {
	margin-top: 50px;
}

.container {
	width: 90%;
	margin: auto;
}

.logo {
	display: inline-block;
}

.logo img {
	width: 25%;
}

.cliquable {
	display: inline-block;
	margin-top: 20px;
}

.display-in {
	display: inline-block;
	color: #B9B9B9;
}

.p-info {
	font-style: italic;
}

.slogan {
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	margin-top: 20px;
}

.color-p {
	color: #B9B9B9;
}

#btn {
	width: auto;
	height: auto;
}

button:hover {
	cursor: pointer;
}

.filters {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* modifications des boutons filtres*/

.filters li {
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	display: inline-block;
	font-weight: bold;
	padding-right: 15px;
	margin-left: 20px;
}

.filters li:hover {
	transform: scale(1.2);
	transition: all 0.5s;
	cursor: pointer;
}

/* modifications des icones pour les filtres */

.filters li i {
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 10px;
	background-color: #DEEBFF;
	color: #0065FC;
}

.fa-info {
	border: 1px solid #FFFFFF;
	padding: 5px;
	color: #0065FC;
	border-radius: 100%;
}

.descr_hover:hover {
	transform: scale(1.1);
	transition: all 0.4s;
}

.col_container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
	margin-bottom: 30px;
}

.col_heb {
	width: 65%;
	margin-right: 40px;
	background-color: #F2F2F2;
	border-radius: 25px;
	padding: 20px;
	height: 600px;
}

.col_heb h2 {
	margin-bottom: 10px;
}

.card_container_heb {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.descr_card_heb {
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	width: 30%;
	margin-bottom: 20px;
}

.descr_card_heb img {
	width: 100%;
	height: 130px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}

.descr_card_heb h3, .descr_card_heb p {
	margin: 5px 0;
}

.notation li {
	display: inline-block;
}

.notation li i {
	color: #0065FC;
}

.col_pop {
	width: 35%;
	background-color: #F2F2F2;
	border-radius: 25px;
	padding: 20px;
	height: 600px;
}

.col_pop h2 {
	margin-bottom: 10px;
}

.col_pop ul {
	margin-bottom: 10px;
}

.descr_card_pop {
	background-color: white;
	border-radius: 10px;
	width: 90%;
	margin-bottom: 20px;
	padding: 5px;
	display: flex;
	height: 160px;
}

.disp-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.descr_card_pop img {
	width: 40%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	object-fit: cover;
	margin-right: 10px;
}

.descr_card_pop h3, .descr_card_pop p {
	margin: 5px 0;
}

.column_img {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.act_container {
	margin-top: 30px;
}

.col-activity {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.col-activity h2 {
	padding: 10px;
}

.col_act {
	width: calc(25% - 40px);
	/* calcul pour les marges entre les cards*/
}

.descr_card_g {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	border: 1px solid #F2F2F2;
	display: block;
	height: 450px;
}

.descr_card_g img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
	height: calc(100% - 50px);
}

.descr_card4 {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	height: 250px;
	border: 1px solid #F2F2F2;
	display: block;
}

.descr_card4 img {
	width: 100%;
	height: calc(100% - 50px);
	border-radius: 10px 10px 0 0;
	object-fit: cover;
}

.descr_card5 {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	height: 150px;
	border: 1px solid #F2F2F2;
	margin-top: 50px;
	display: block;
}

.descr_card5 img {
	width: 100%;
	height: 70%;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
	border: 1px solid #F2F2F2;
	height: calc(100% - 50px);
}

.descr_card_m {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	height: 200px;
	border: 1px solid #F2F2F2;
	display: block;
}

.descr_card_m img {
	width: 100%;
	height: 150px;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
	border: 1px solid #F2F2F2;
	height: calc(100% - 50px);
}

.col_act h3 {
	/*margin-left: 10px;*/
	margin-top: 10px;
	height: 50px;
}

footer {
	background-color: #F2F2F2;
	margin-top: 30px;
}

.footer-content {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: flex-start;
}

.footer-column {
	display: flex;
	flex-direction: column;
	width: 30%;
}

/* partie responsive*/

.logo_resp {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px;
}

.logo_resp img {
	width: 25%;
}

.cliquable_resp {
	margin-top: 20px;
	width: 100%;
}

.navlink_resp {
	display: inline-block;
	width: 45%;
	text-align: center;
	padding: 5px;
}

.acc_resp {
	color: #0065FC;
	border-bottom: 2px solid #0065FC;
}

@media screen and (max-width: 650px) {
	.descr_hover:hover {
		transform: none;
	}
	.container {
		width: 100%;
	}
	.search-bar {
		width: 100%;
	}
	input {
		width: 80%;
	}
	.btn {
		display: none;
	}
	.btn_resp {
		display: block;
	}
	.entete {
		display: none;
	}
	.entete_resp {
		display: block;
	}
	.slogan {
		font-size: 1.5em;
		margin-top: 20px;
		margin-left: 15px;
	}
	.size_slogan_resp {
		font-size: 1.1em;
		color: black;
		margin-left: 15px;
	}
	.filtres_resp {
		color: black;
		margin: 15px;
	}
	.filters {
		display: inline-block;
		margin-top: 0;
		width: 85%;
	}
	.filters li {
		margin-top: 10px;
	}
	.info {
		display: inline-flex;
		align-content: flex-start;
	}
	.size_info_resp {
		font-size: 1em;
	}
	.col_container {
		display: flex;
		flex-direction: column-reverse;
	}
	.col_pop {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 30px;
		padding: 15px;
	}
	.descr_card_pop {
		width: 100%;
		height: 150px;
	}
	.col_heb {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: initial;
		margin-top: 25px;
	}
	.descr_card_heb {
		width: 100%;
	}
	.col-activity {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.descr_card_resp {
		width: 100%;
		background-color: white;
		border-radius: 10px;
		height: 150px;
		border: 1px solid #F2F2F2;
		margin-top: 50px;
		display: block;
	}
	.descr_card_m{
		height: 150px;
	}

	
	.act_container {
		width: 100%;
		padding: 15px;
	}
	.a_act_resp {
		width: 100%;
		margin-top: 20px;
	}
	footer {
		width: 100%;
	}
	.footer-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.footer-column {
		width: 100%;
	}
}

@media screen and (min-width: 651px) and (max-width:1030px) {
	body {
		width: 70%;
		margin: auto;
	}
	.container {
		width: 100%;
	}
	.search-bar {
		width: 100%;
	}
	input {
		width: 80%;
	}
	.btn {
		display: none;
	}
	.btn_resp {
		display: block;
	}
	.entete {
		display: none;
	}
	.entete_resp {
		display: block;
	}
	.slogan {
		font-weight: bold;
		font-size: 1.5em;
		margin-top: 20px;
	}
	.size_slogan_resp {
		font-size: 1.1em;
	}
	.filtres_resp {
		color: black;
	}
	.filters {
		display: inline-block;
	}
	.filters li {
		margin-top: 10px;
	}
	.size_info_resp {
		width: 93%;
		font-size: 1.1em;
	}
	.pos_info_resp {
		position: relative;
		bottom: 20px;
	}
	.col_container {
		display: flex;
		flex-direction: column-reverse;
	}
	.col_pop {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 30px;
		padding: 15px;
	}
	.descr_card_pop {
		width: 100%;
	}
	.col_heb {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: initial;
		margin-top: 25px;
	}
	.descr_card_heb {
		width: 100%;
	}
	.col-activity {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.descr_card_resp {
		width: 100%;
		background-color: white;
		border-radius: 10px;
		height: 150px;
		border: 1px solid #F2F2F2;
		margin-top: 50px;
		display: block;
	}
	
	.act_container h2 {
		padding: 15px;
	}
	.a_act_resp {
		width: 100%;
		margin-top: 20px;
	}
	footer {
		width: 100%;
	}
	.footer-content {
		width: 100%;
	}
	.footer-column {
		width: 100%;
	}
}